@charset "UTF-8";
@import url(../estilos/global.css);

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
}

.main_info {
    width: 100%;
    max-width: 570px;
}

.main_info > p {
   font-size: 1em;
    margin: 20px 0px 28px 10px;
}

.main_info > div {
    display: flex;
    column-gap: 32px;
}

.main_info > div > a, .main_info > div > button {
    width: 100%;
    padding: 10px 0px;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
}

#teaser_link {
    background: var(--red);
    margin-left: 10px;
}

#teaser_link:hover {
    background: rgb(255, 45, 45);
    transition: 0.4s;
}

.main_info > div > button {
    background: transparent;
    border: 1px solid var(--green);
}

.main_info > div > button:hover {
    background: var(--green);
    border: 1px solid var(--text);
    transition: 0.4s;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
}

#footer {
    color: var(--text);
    font-size: 0.8em;
}