@charset "UTF-8";

@media (min-width: 601px) and (max-width: 1200px) {

    body {
        margin: 10px;
    }

    #hamburguer {
        display: block;
        color: var(--red);
        cursor: pointer;
        width: 100px;
        height: 60px;
        left: 0;
    }

    .navigation {
        display: none;

    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-width: 1200px;
        margin-bottom: 50px;
    }

    header > #chapeu {
        display: none;
    }

    .navigation > li {
        position: fixed;
    }

    span.icon_link {
        display: block;
    }

    .navigation_social {
       margin-right: 5vw;
    }

    #logo {
        width: 200px;
    }

    .main_info > p {
        font-size: 0.9em;
    }

    #mario_yoshi {
        width: 350px;
        margin-right: 5vw;
    }

    .main_info > div, .main_info > a {
        width: 90%;
        height: 90%;
    }

    #footer {
        position: static;
        margin-top: 5vh;
    }

    
}